* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    width: 100%;
}

.red {
    color: red;
    font-weight: bold;
}

.logo {
    width: 90%;
    margin: 20px auto;
}

list {
    display: block;
    margin-top: 30px;
}



.battery-status {
    width: 90%;
    height: 20px;
    margin:40px auto;
    border: 1px solid #424242;
    border-radius: 3px;
}

.battery-status-level {
    height: 100%;
    width: 0;
    background-color: tomato;
}

.battery-status-level.plugged {
    background-color: green;
}

.camera-image {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #eee;
}
